<div name="login" *ngIf="!isLoggedIn">
    <div style="text-align: center;font-size: 150%;font-weight: bold;">Nordic</div>
    <nav class="navbar" style="text-align: center;">
      <img src="/assets/images/icon.jpg" style="width: 25%;">
    </nav> 
    <div style="text-align: center; font-size: 134%;">Welcome to Happy Hours Network</div><br><br>
    <div class="mat-display-2" style="text-align: center;">
        <button title="I'm a user" mat-raised-button color="warn" (click)="login(0)">I'm a user</button>
    </div>
    <div class="mat-display-2" style="text-align: center;">
        <button title="I'm a Bar/Resturant Owner" mat-raised-button color="warn" (click)="login(1)">I'm a Bar/Resturant Owner</button>   
    </div>  
</div>
<div name="content" *ngIf="isLoggedIn">
    <nav>
        <mat-toolbar color="warn">              
              <span class="navbar-fill">
                <button *ngIf="isLoggedIn" mat-button routerLink="/">Home</button>
                  <button *ngIf="isLoggedIn && isShopUser()" mat-button routerLink="/shops">Shops</button>
                  <button *ngIf="isLoggedIn && isShopUser()" mat-button routerLink="/items">Item</button>                
                  <button *ngIf="isAdmin()" mat-button routerLink="/admin">Manage Shops</button>
                  <button *ngIf="isLoggedIn && isShopUser()" mat-button routerLink="/happy-hours">Happy Hours</button>
                  

                  
              </span>
              <span>
                  <button *ngIf="isLoggedIn" mat-button routerLink="/user-profile">Profile</button>
                  <button *ngIf="!isLoggedIn" mat-button (click)="login()">Login</button>
                  <button *ngIf="isLoggedIn" mat-button (click)="logout()">Logout</button>
              </span>
          </mat-toolbar> 
      </nav>
</div>
<div>    
<router-outlet></router-outlet>
</div>