.add-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}

.error-text {
  color: red;
}
.mat-sort-header-sorted {
  color: black;
}
.serch-div{
  margin:10px;;
}
.search-form-field{
  width :60%;
  margin-left: 10px;
  padding: 5px 10px;
  columns: #f5f5f5;;
  border-radius: 5px;
}
