<div class="error-text">{{error}}</div>
<div class="table-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource">
        <!-- shop Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let shop" [style.flex]="'flex'">
                <div class="shop-name">
                    <strong>{{shop.name}}</strong>
                </div>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
            <mat-cell *matCellDef="let shop" [style.flex]="'flex'">
                <div class="shop-name">
                    <strong>{{shop.type?'Resturant':'Bar'}}</strong>
                </div>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="contact">
            <mat-header-cell *matHeaderCellDef>Contact</mat-header-cell>
            <mat-cell *matCellDef="let shop" [style.flex]="'flex'">
                <div class="shop-name">
                    <strong>{{shop.contactNumber}}</strong>
                </div>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef>E-Mail</mat-header-cell>
            <mat-cell *matCellDef="let shop" [style.flex]="'flex'">
                <div class="shop-name">
                    <strong>{{shop.email}}</strong>
                </div>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="locality">
            <mat-header-cell *matHeaderCellDef>Locality</mat-header-cell>
            <mat-cell *matCellDef="let shop" [style.flex]="'flex'">
                <div class="shop-name">
                    <strong>{{shop.locality}}</strong>
                </div>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let shop" [style.flex]="'flex'">
                <div class="shop-name">
                    <strong>{{shop.permission==='Edit'?'Active':'InActive'}}</strong>
                </div>
            </mat-cell>
        </ng-container>
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let shop" [style.flex]="'0 0 200px'">
                <div class="action-button-wrapper">
                    <button title="Manage Permissions" mat-raised-button color="primary" class="list-action" (click)="permission(shop)">
                        <i class="material-icons">lock</i>
                    </button>
                    <button title="Delete shop" mat-raised-button color="warn" class="list-action" (click)="deleteShop(shop)">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>   
</div>