<h1 mat-dialog-title>Shop Permissions</h1>
<div mat-dialog-content>  
    <mat-form-field style="width:300px">
        <mat-select [(ngModel)]="data.permission">
            <mat-option *ngFor="let option of options" [value]="option.value">
                {{ option.label }}
              </mat-option>
        </mat-select>
    </mat-form-field>
  
</div>
<div class="mat-body-1" style="color:#E91E63">{{error}}</div>
<div mat-dialog-actions layout="row">
    <button mat-button (click)="cancel()" color="accent">Close</button>
    <span style="flex: 1 1 auto"></span>
    <button mat-button (click)="save()" color="primary">Save</button>   
</div>