<form class="example-form" style="max-width:80%;">
  <h1 mat-dialog-title>Add Shop</h1>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name" [(ngModel)]="shop.name" required name="name">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="E-mail" [(ngModel)]="shop.email" required name="E-mail">
        </mat-form-field>
      </td>     
    </tr>
  </table>
  <table class="example-full-width" cellspacing="0">
    <tr>     
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Contact Number" [(ngModel)]="shop.contactNumber" required name="contactNumber"> 
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Seat Strength" [(ngModel)]="shop.seatStrength" required name="seatStrength">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Country" [(ngModel)]="shop.countryId" name="countryId">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="City" [(ngModel)]="shop.cityId" name="cityId">
        </mat-form-field>
      </td>     
    </tr>
  </table>
  <table class="example-full-width" cellspacing="0">
    <tr>      
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="State" [(ngModel)]="shop.stateId" name="stateId">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Currency Code" [(ngModel)]="shop.currencyCode" required name="currencyCode">
        </mat-form-field>
      </td>
    </tr>
  </table>
  <table class="example-full-width" cellspacing="0">
    <tr>     
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="logo" [(ngModel)]="shop.logo" required name="logo">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Images" [(ngModel)]="shop.shopImages" required name="shopImages">
        </mat-form-field>
      </td>      
    </tr>
  </table>

  <p>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Street" [(ngModel)]="shop.street" name="street"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Locality" [(ngModel)]="shop.locality" name="locality"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Landmark" [(ngModel)]="shop.landmark" name="landmark"></textarea>
    </mat-form-field>
  </p>
  <div layout="row">
    <button mat-raised-button routerLink="/shops">Cancel</button>
    <button *ngIf="!shop.id" mat-raised-button color="primary" (click)="addShop(shop)">Save</button>
    <button *ngIf="shop.id" mat-raised-button color="primary" (click)="editShop(shop)">Update</button>
  </div>
</form>
